$color: rgb(245, 245, 245);
$hColor:rgb(230, 230, 230);
$fontColor:rgb(71, 53, 73);
body {
    background-color: $color;
}

header {
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: $hColor;
    span {
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 6px;
        padding-right: 15px;
    }
    .navIcons {
        height: 8px;
    }
}

.dropDownContent {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    -webkit-box-shadow: 0px 9px 22px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 9px 22px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 9px 22px -7px rgba(66, 68, 90, 1);
    a {
        cursor: pointer;
    }
}

.dropDown:hover {
    .dropDownContent {
        visibility: visible;
    }
}

.dropDown a:hover {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    transition: 0.3s;
}

#headerNavLine {
    opacity: 50%;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    background-color: $color;
    img {
        width: 280px;
        padding: 10px;
        margin-left: 40px;
        float: left;
    }
    #navHandler {
        float: left;
        width: 55%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a {
            font-size: 23px;
            padding: 0px 10px;
            font-family: 'Akshar', sans-serif;
            font-weight: 400;
            text-decoration: none;
            color: #5A3B5D;
            display: flex;
            align-items: center;
        }
    }
}

#navHandler a:hover {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: white;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}


/* Yellow band effect */

.main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #52504a;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}


/* Skewing effect on menu links */

.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(30px) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}


/* Apparition effect on links */

.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
    text-decoration: none;
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
    text-decoration: none;
}

.main-nav li:nth-child(1) a {
    transition: all 275ms 175ms
}

.main-nav li:nth-child(2) a {
    transition: all 275ms 225ms
}

.main-nav li:nth-child(3) a {
    transition: all 275ms 275ms
}

.main-nav li:nth-child(4) a {
    transition: all 275ms 325ms
}

.main-nav li:nth-child(5) a {
    transition: all 275ms 375ms
}


/* Decoration */

.main-nav ul,
.main-nav li {
    list-style: none;
    padding: 0;
}

.main-nav a {
    display: block;
    padding: 12px 0;
    color: #ffffff;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 550;
}

.open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 45px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}

.open-main-nav:focus {
    outline: none;
}

.burger {
    position: relative;
    display: none;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #5A3B5D;
    transform: skew(5deg);
    transition: all .275s;
}

.burger:after,
.burger:before {
    content: '';
    display: block;
    height: 100%;
    background: #5A3B5D;
    transition: all .275s;
}

.burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
    transform: translateY(-16px) skew(-10deg);
}


/* Toggle State part */

.is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
    background-color: white;
}

.is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
    background-color: white;
}

.is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
    background-color: white;
}

.is-open .burger-text {
    color: white;
}


/* MENU Text part */

.burger-text {
    display: none;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #52504a;
}

section {
    background-color: $color;
    #contentInImage {
        width: 40%;
        height: 170px;
        position: absolute;
        top: 20%;
        left: 17vw;
        padding: 3px;
        h1 {
            font-family: 'Roboto Mono', monospace;
            font-weight: bold;
            color: white;
            font-size: calc(3.5vw + 3.5vh);
        }
        #showMoreButton {
            color: white;
            font-weight: bold;
            border-radius: 2px;
            font-size: 2vmax;
            background-color: rgb(37, 185, 37);
            height: 5.3vh;
            margin-top: 13px;
            padding: 4px;
            float: left;
            width: 23vw;
            min-width: 100px;
            max-width: 370px;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-family: 'Roboto Mono', monospace;
            img {
                float: left;
            }
        }
    }
    #solarImage,
    #solarImage2 {
        max-width: 100%;
        width: 100%;
        max-height: 80vh;
    }
    #solarImage2 {
        display: none;
    }
    a {
        text-decoration: none;
        h2 {
            color: $fontColor;
            padding: 20px;
            margin: 10px 0px;
            text-align: center;
            background-color: $hColor;
            background: linear-gradient(90deg, rgba(230, 230, 230, 1) 0%, rgba(245, 245, 245, 1) 100%);
            cursor: pointer;
            img {
                height: 50px;
                padding-left: 30px;
            }
        }
    }
    #offer {
        height: 700px;
        background: url("images/theme6.png");
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        .offerContent {
            display: flex;
            justify-content: flex-end;
            padding: 20px;
            margin: 40px;
            background-color: #3b3b3bcb;
            height: 550px;
            width: 800px;
            -webkit-clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 33% 100%, 0% 50%, 33% 0);
            clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 33% 100%, 0% 50%, 33% 0);
            -webkit-box-shadow: 2px 2px 32px 8px rgba(66, 68, 90, 1);
            -moz-box-shadow: 2px 2px 32px 8px rgba(66, 68, 90, 1);
            box-shadow: 2px 2px 32px 8px rgba(66, 68, 90, 1);
            h4 {
                margin-top: 30px;
                width: 500px;
                height: 60px;
                color: black;
            }
            img {
                height: 80px;
                position: absolute;
                right: 580px;
                transform: translate(-80px);
                align-self: center;
            }
            #description {
                width: 500px;
                color: rgb(10, 9, 9);
                position: absolute;
                transform: translate(0px, 100px);
            }
        }
    }
}

@media screen and (max-width: 900px) {
    nav #navHandler,
    #toHide,
    #solarImage {
        display: none;
    }
    section #solarImage2,
    .burger,
    .burger-text {
        display: block;
    }
    #mainLogo {
        margin-left: 20px;
    }
    section #contentInImage {
        left: 25vw;
    }
    section a h2 {
        text-align: left;
        box-sizing: border-box;
        padding: 10px;
        img {
            padding-left: 10px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    section {
        #offer {
            .offerContent {
                display: none;
            }
        }
    }
}