header {
    background-color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
}

header span {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    height: 8vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

nav a {
    font-size: 100%;
    padding: 10px;
    font-family: 'Akshar', sans-serif;
    font-weight: 600;
    float: right;
    text-decoration: none;
    color: rgb(32, 32, 167);
}

#mainLogo {
    width: 280px;
    padding: 10px;
    margin-right: 40px;
}

#solarImage {
    max-width: 100%;
    width: 100%;
    max-height: 80vh;
}

#navHandler {
    margin-left: 3vw;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    font-size: calc(3.5vw + 3.5vh);
    width: 100%;
}

#showMoreButton {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    width: 20vw;
    height: 5.3vh;
    padding: 4px;
    border-radius: 2px 0px 0px 2px;
    color: white;
    font-size: 2.5vmax;
    background-color: rgb(37, 185, 37);
    float: left;
    margin-top: 5px;
}

#arrowButton {
    background-color: rgb(37, 185, 37);
    width: 3.5vmax, 3.5vmin;
    float: left;
    height: 5.3vh;
    padding: 4px;
    margin-top: 5px;
}

#contentInImage {
    width: 40%;
    height: 170px;
    position: absolute;
    top: 20%;
    left: 17vw;
    padding: 3px;
}

#headerNavLine {
    width: 90vw;
    opacity: 50%;
    border-radius: 2px;
}